body {
    color: #f8f9fa;
    background-color: #343a40;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa;
  }
  
  .navbar-dark .navbar-brand {
    color: #f8f9fa;
  }
  
  .bg-primary {
    background-color: #6c757d!important;
  }
  
  .text-primary {
    color: #6c757d!important;
  }
  
  .bg-light {
    background-color: #6c757d!important;
  }

  .nav-bg-dark {
    background-color: #23272b!important;
  }
  
  .text-light {
    color: #f8f9fa!important;
  }
  
  .btn-primary {
    color: #f8f9fa;
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .btn-primary:hover {
    color: #6c757d;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }

  section {
    height: 100vh;
    display: flex;
    align-items: center;

  }

  header {
    height: 100vh;
    display: flex;
align-items: center;
  }

  #contact {
    height: 50vh;
  }

  .carousel-caption {
    margin-top: 500px;
  }

  @media (max-width: 768px) {
    .carousel-caption {
      margin-top: 0px;
    }
  }

  .info {
    font-size: 25px;
     display: none;
}

.info-col {
    font-size: 16px;
}

.iconHolder {
  font-size: small;
}

@media screen and (max-width: 768px) {
  .resize-text {
    font-size: 16px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .resize-text {
    font-size: 20px;
  }
}

@media screen and (min-width: 993px) {
  .resize-text {
    font-size: 26px;
  }
}


/* Hide the document list by default */
#doc-list {
  display: none;
}

#video-list {
  display: none;
}

#photo-list {
  display: none;
}

#music-list {
  display: none;
}

.form-control {
  border: 1px solid #6c757d;
  background-color: black;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  height: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  vertical-align: top;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #6c757d;
  background-color: black;
  color: white;
}