body {
    color: #f8f9fa;
    background-color: #343a40;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa;
  }
  
  .navbar-dark .navbar-brand {
    color: #f8f9fa;
  }

  .hover-navbar {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  .hover-navbar:hover {
    opacity: 1;
    visibility: visible;
  }
  
  .bg-primary {
    background-color: #6c757d!important;
  }
  
  .text-primary {
    color: #6c757d!important;
  }
  
  .bg-light {
    background-color: #6c757d!important;
  }

  .nav-bg-dark {
    background-color: #23272b!important;
  }
  
  .text-light {
    color: #f8f9fa!important;
  }
  
  .btn-primary {
    color: #f8f9fa;
    background-color: #6c757d;
    border-color: #6c757d;
  }
  
  .btn-primary:hover {
    color: #6c757d;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
  }

  section {
    height: 100vh;
    display: flex;
    align-items: center;

  }

  header {
    height: 100vh;
    display: flex;
align-items: center;
  }

  #contact {
    height: 50vh;
  }

  .carousel-caption {
    margin-top: 500px;
  }

  @media (max-width: 768px) {
    .carousel-caption {
      margin-top: 0px;
    }
  }

  .info {
    font-size: 25px;
     display: none;
     color: #FFF;
}

.info-col {
    font-size: 16px;
    color: #FFF;
}

.iconHolder {
  font-size: small;
}


/* Hide the document list by default */
#doc-list {
  display: none;
}

#video-list {
  display: none;
}

#photo-list {
  display: none;
}

#music-list {
  display: none;
}

.form-control {
  border: 2px solid #0ea81b;
  background-color: black;
  color: green;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  height: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  vertical-align: top;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid #0ea81b;
  background-color: black;
  color: green;
}

.green-button {
  background-color: black;
  color: white;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid #0ea81b;
}

.green-button:hover {
  background-color: #0ea81b;
  color: white;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  border: 2px solid #0ea81b;
}

.speech-bubble {

  display: inline-block;
  background-color:#23272b;
  color: black;
  border-radius: 50px;
  padding: 30px;
  margin: 10px;
  opacity: 0;
  animation: fade-in 0.5s ease forwards;
}

.speech-bubble::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: #23272b transparent transparent transparent;
  bottom: -20px;
  left: 20%;
}

.speech-bubble2 {

  display: inline-block;
  background-color:#23272b;
  color: black;
  border-radius: 50px;
  padding: 30px;
  margin: 10px;
  opacity: 0;
  animation: fade-in 0.5s ease forwards;
}

.speech-bubble2::before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: #23272b transparent transparent transparent;
  bottom: -20px;
  left: 80%;
}

.floating-text {
  animation: fade-in 0.5s ease forwards;
  opacity: 0;
}

/* Animation */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mockup-images {
  width: 75vh;
}

.mockup-dropshadow {
  -webkit-filter: drop-shadow(-15px 15px 25px #222);
filter: drop-shadow(-15px 15px 25px #222);
}

.text-dropshadow {
  -webkit-filter: drop-shadow(-5px 5px 15px #525252);
filter: drop-shadow(-5px 5px 15px #525252);
}

.see-docs-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
 }

@media screen and (max-width: 768px) {
  .resize-text {
    font-size: 16px;
  }
  .mockup-images {
    width: 40vh;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .resize-text {
    font-size: 20px;
    width: 50vh;
  }
  .resize-text-small {
    font-size: 16px;
  }
}

@media screen and (min-width: 993px) {
  .resize-text {
    font-size: 26px;
  }
  .resize-text-small {
    font-size: 20px;
  }
}


